/*
Add styles or override variables from the theme here.
*/

$td-enable-google-fonts: false;

.td-navbar {
    height: auto;
}

.navbar-brand {
    text-transform: none;
    text-align: middle;
    margin: 0;
    padding: 0;

    .nav-link {
        display: inline-block;
        margin-right: -30px;
    }

    .navbar-logo {
        svg {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 26px;
            z-index: 33;
            padding: 10px;
            height: 95px;
            /*background: white;*/
            border: 2px solid #4279f4;
            border-top: none;

        }
    }
}